* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-four);

}
:root{
    --color-one:#444;
    --color-two:#777;
    --color-three:#acaaaa;
    --color-four:#000;
    --color-five:#fff;


}
body{
    background-color: var(--color-five);
}
.nightMode{
    --color-one:#f2eeee;
    --color-two:#f0eeee;
    --color-three:#807979;
    --color-four:#f9f3f3;
    --color-five:#0f0e0e;

}
.mode{
    width: 92%;
  height: 92%;
 
  max-width: 430px;
  margin: 10px auto;
  height: 25px;
  width: 100px;
  border-radius: 12px;
  border: 1px solid var(--color-two);
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 12px;
  cursor: pointer;
  .switch{
    width: 50px;
    height: 25px;
    background-color: var(--color-four);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 12px;
    cursor: pointer;
    &.night{
        left: 50px;
    }
  }
  span{
    height: 25px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  }
.container {
  width: 92%;
  height: 92%;
  padding: 16px;
  max-width: 430px;
  margin: 10px auto;
  border: 1px solid var(--color-one);
  border-radius: 5px;
  

  .display {
    width: 100%;
    margin-bottom: 30px;
    height: 90px;
    border: 1px solid var(--color-two);
    border-radius: 5px;
    padding: 13px;
    .topscreen {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 30px;
      .values {
        font-size: 22px;
        font-weight: 500;
      }
      .operators {
        margin-left: 5px;
        font-size: 24px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .second {
        margin-left: 5px;
        font-size: 22px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .bottom {
    }
    .gap {
      width: 100%;
      height: 1px;
      background-color: var(--color-two);
    }
    .result {
      // margin-left: 5px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 10px;
      font-size: 22px;
      font-weight: 500;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
    }
  }
  .buttons {
    display: flex;
    .left {
      display: flex;
      flex-direction: column;
      flex: 3 3 150px;
      .top {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        margin-bottom: 20px;
        align-items: center;
        & > * {
          width: 60px;
          height: 50px;
          border-radius: 5px;
          border: 1px solid var(--color-two);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 25px;
          font-weight: 500;
          transition: 0.4s;
          cursor: pointer;
          @media (max-width:50px) {
            cursor: none;
          }
          &:hover {
            background-color: var(--color-three);
            // font-size: 29px;

          }
        }
      }
      .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 12px;
        row-gap: 12px;
        & > * {
          cursor: pointer;
          font-size: 25px;
          font-weight: 500;
          border: 1px solid var(--color-two);
          width: 60px;
          height: 60px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.4s;
          @media (max-width:50px) {
            cursor: none;
          }
          &:hover {
            background-color: var(--color-three);
            // font-size: 29px;
            // box-shadow: 0px 0px 7px rgba($color: #000000, $alpha: 0.1);
          }
        }
      }
    }
    .right {
      flex: 1 1 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      & > * {
        width: 70px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid var(--color-two);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 500;
        transition: 0.4s;
        cursor: pointer;
        @media (max-width:50px) {
            cursor: none;
          }
        &:hover {
          background-color: var(--color-three);
          // font-size: 29px;
        //   box-shadow: 0px 0px 7px rgba($color: #000000, $alpha: 0.1);
        }
      }
    }
  }
}
.developer{
   display: flex;
   flex-direction: column;
   row-gap: 15px;
   width: 92%;
   height: 92%;
   padding: 16px;
   max-width: 430px;
   margin: 10px auto;
   border: 1px solid var(--color-one);
   border-radius: 5px;
   h2{
    width: fit-content;
    margin: 10px auto;
    text-decoration: underline;
   }

    &>*{
        display: flex;
        align-items: center;
        column-gap: 12px;
        &>*{
            &:first-child{
                width: 70px;
            }
        }
        .label{
            font-size: 18px;
            font-weight: 500;
        }
        img{
            width: 100px;
            user-select: none;

        }


    }

}